* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
}

p {
  font-size: 1rem;
  font-weight: 300;
}

h1 {
  font-size: 2.4rem;
}

body {
  background: #a8c0ff;
  /* fallback */
  background: linear-gradient(to right, #3f2b96, #a8c0ff);
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-top: 2%;
  height: 5vh;
  color: #f1faee;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  height: 75vh;
  margin: 5% 20%;
  width: auto;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
  box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 2rem;
}

form input {
  margin: 0.5rem 0rem 1rem 0rem;
  padding: 0.8rem 2rem;
  border: none;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 1rem;
  outline: none;
  transition: all 200ms ease;
  background: rgba(255, 255, 255, 0.2);
  color: white;
}

form input:hover {
  transform: scale(1.05);
  box-shadow: 0 1px 1px rgba(255, 255, 255, 0.2);
}

form input:focus {
  transform: scale(1.08);
  box-shadow: 0 3px 1px rgba(255, 255, 255, 0.2);
}

form label {
  margin-top: 1rem;
  color: #f1faee;
  font-size: 1.4rem;
  font-weight: 400;
}

form p {
  color: #edf6f9;
}

.submit {
  position: absolute;
  bottom: 2%;
  padding: 0.6rem 3rem;
  outline: none;
  border: none;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 0.5rem 1rem rgba(255, 255, 255, 0.05);
  background: #fff;
  border-radius: 1rem;
  transition: all 0.75s ease;
  color: #666;
  letter-spacing: 0.5px;
  margin: 1rem;
}

.submit:hover {
  background: transparent;
  color: #edf6f9;
  border: none;
  border: 1px solid white;
  transform: scale(1.1);
  letter-spacing: 1px;
}

.wrapper {
  width: 100%;
  height: 75%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

.field {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.logo-redir {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 5rem;
}

.main-image {
  height: 80vh;
  text-align: center;
}

.main-image svg {
  height: 80vh;
}

#flowers {
  animation: flowers 5s ease infinite alternate;
}

#grass {
  animation: grass 3s ease-in infinite alternate 0.5s;
}

#bird1 {
  animation: bird1 10s ease infinite alternate;
}

#bird2 {
  animation: bird2 7s ease infinite alternate;
}

#bird3 {
  animation: bird3 8s ease infinite alternate;
}

#blue-tree {
  animation: blue-tree 2s ease infinite alternate;
}

#vector_18,
#vector_19,
#vector_20 {
  animation: trees 3s ease infinite alternate 2s;
}

.outro {
  text-align: center;
  margin-top: 5rem;
}

@keyframes flowers {
  from {
    transform: translateX(-2%);
  }
  to {
    transform: translateX(2%);
  }
}

@keyframes grass {
  from {
    transform: translateX(1%);
  }
  to {
    transform: translateX(-1%);
  }
}

@keyframes birds {
  from {
    opacity: 1;
    transform: translateX(0%);
  }
  to {
    opacity: 0.5;
    transform: translateX(3%);
    transform: translateY(-4%);
  }
}

@keyframes bird1 {
  from {
    opacity: 1;
    transform: translateY(0%);
  }
  to {
    opacity: 0.1;
    transform: translateY(-10%);
  }
}

@keyframes bird2 {
  from {
    opacity: 1;
    transform: translate(0%, 0%);
  }
  to {
    opacity: 0.25;
    transform: translate(-10%, -8%);
  }
}

@keyframes bird3 {
  from {
    opacity: 1;
    transform: translate(0%, 0%);
  }
  to {
    opacity: 0;
    transform: translate(15%, -10%);
  }
}

@keyframes blue-tree {
  from {
    transform: translate(0%, 0%);
  }
  to {
    transform: translate(0.3%, 0.2%);
  }
}

@keyframes trees {
  from {
    transform: translate(0%, 0%);
  }
  to {
    transform: translate(0.2%, 0.05%);
  }
}
/*# sourceMappingURL=style.css.map */